@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-y_border: #d9d9d9;
  --color-primary: #666666;
  --color-secondary: #f3f9fb;
  --color-brand: #008ecc;
  --font-primary: "Hanken Grotesk", sans-serif;
}

@utility container {
  margin: auto;
  padding: 0px 30px;
}

@layer components {
  .heading {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-primary);
    color: var(--color-primary);
  }
}

body {
  @apply font-primary;
}

.slick-dots .slick-active div {
  @apply w-8;
}
