@import "tailwindcss";

@utility container {
  margin: auto;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 445px;
  --breakpoint-sm: 525px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 830px;
  --breakpoint-2xl: 900px;
  --breakpoint-3xl: 1050px;
  --breakpoint-4xl: 1150px;
  --breakpoint-5xl: 1240px;
  --color-y_border: #d9d9d9;
  --color-primary: #666666;
  --color-secondary: #f3f9fb;
  --color-brand: #008ecc;
}
